.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

select {
  font-family: sans-serif;
}

td.visible-on-row-hover {
  display: none;
}

tr:hover td.visible-on-row-hover {
  display: table-cell;
}

.App.compact .collapsible {
  display: none;
}

.App:not(.compact) .collapsed {
  display: none;
}

.App, .App select, .App input, .App button {
  font-size: 0.9em;
}

.App table {
  text-align: center;
}

.App td select {
  width: 100%;
}

.ClassMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 5px;
  padding-bottom: 5px;
}
